ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\alumnoTARDE\AppData\Roaming
CHROME_CRASHPAD_PIPE_NAME=\\.\pipe\crashpad_1112_UNVAALNYFBJMJSYO
CommonProgramFiles=C:\Program Files\Common Files
CommonProgramFiles(x86)=C:\Program Files (x86)\Common Files
CommonProgramW6432=C:\Program Files\Common Files
COMPUTERNAME=3MASANZ-A22-E07
ComSpec=C:\Windows\system32\cmd.exe
DriverData=C:\Windows\System32\Drivers\DriverData
FPS_BROWSER_APP_PROFILE_STRING=Internet Explorer
FPS_BROWSER_USER_PROFILE_STRING=Default
HOMEDRIVE=C:
HOMEPATH=\Users\alumnoTARDE
JAVA_HOME=C:\Program Files\Java\jdk-16.0.2
LOCALAPPDATA=C:\Users\alumnoTARDE\AppData\Local
LOGONSERVER=\\3MASANZ-A22-E07
NUMBER_OF_PROCESSORS=6
OneDrive=C:\Users\alumnoTARDE\OneDrive
ORIGINAL_XDG_CURRENT_DESKTOP=undefined
OS=Windows_NT
Path=C:\Program Files (x86)\VMware\VMware Player\bin\;C:\Program Files\Common Files\Oracle\Java\javapath;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Windows\System32\OpenSSH\;C:\Program Files\Java\jdk-16.0.2\bin;C:\Program Files\Git\cmd;C:\Users\alumnoMA\asignaturas\prog\scripts;C:\Users\alumnoTARDE\AppData\Local\Microsoft\WindowsApps;;C:\Users\alumnoTARDE\AppData\Local\Programs\Microsoft VS Code\bin
PATHEXT=.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC
PATH_TO_FX="C:\Program Files\Java\javafx16\lib"
PROCESSOR_ARCHITECTURE=AMD64
PROCESSOR_IDENTIFIER=Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
PROCESSOR_LEVEL=6
PROCESSOR_REVISION=9e0a
ProgramData=C:\ProgramData
ProgramFiles=C:\Program Files
ProgramFiles(x86)=C:\Program Files (x86)
ProgramW6432=C:\Program Files
PROMPT=$P$G
PSModulePath=C:\Program Files\WindowsPowerShell\Modules;C:\Windows\system32\WindowsPowerShell\v1.0\Modules
PUBLIC=C:\Users\Public
SESSIONNAME=Console
SystemDrive=C:
SystemRoot=C:\Windows
TEMP=C:\Users\ALUMNO~1\AppData\Local\Temp
TMP=C:\Users\ALUMNO~1\AppData\Local\Temp
USERDOMAIN=3MASANZ-A22-E07
USERDOMAIN_ROAMINGPROFILE=3MASANZ-A22-E07
USERNAME=alumTA
USERPROFILE=C:\Users\alumnoTARDE
VBOX_MSI_INSTALL_PATH=C:\Program Files\Oracle\VirtualBox\
windir=C:\Windows
TERM_PROGRAM=vscode
TERM_PROGRAM_VERSION=1.63.2
LANG=es_ES.UTF-8
COLORTERM=truecolor
VSCODE_GIT_IPC_HANDLE=\\.\pipe\vscode-git-e7e8925dfa-sock
GIT_ASKPASS=c:\Users\alumnoTARDE\AppData\Local\Programs\Microsoft VS Code\resources\app\extensions\git\dist\askpass.sh
VSCODE_GIT_ASKPASS_NODE=C:\Users\alumnoTARDE\AppData\Local\Programs\Microsoft VS Code\Code.exe
VSCODE_GIT_ASKPASS_EXTRA_ARGS=--ms-enable-electron-run-as-node
VSCODE_GIT_ASKPASS_MAIN=c:\Users\alumnoTARDE\AppData\Local\Programs\Microsoft VS Code\resources\app\extensions\git\dist\askpass-main.js
